.h5rf-mainmenu{
background:#fff;
padding:15px 0;
}
.h5rf-mainmenu .menu>li{
float:left;
font-size:20px;
margin-right:30px;
}
.h5rf-mainmenu>li:last-child{
margin-right:0;
}
.h5rf-mainmenu .current a{
font-weight:bold;
}
nav a:hover{
text-decoration:none;
}
