@import url(reset.css);
@import url(asset.css);
@import url(fancy.css);
@import url(typography.css);
@import url(joomla1.7.css);
@import url(menu.css);
@import url(custom.css);
/*template itself*/
body{
font-size:16px;
font-family:arial,serif;
background:#B0C4DE;
}
header{
}
.h5rf-logo{
}
.h5rf-logo a:hover{
text-decoration:none;
}
.h5rf-logo h1 a{
color:#fff;
font:105px fantasy;
text-shadow:1px 3px 3px #000;
}
.h5rf-logo h1 a:hover{
color:snow;
}
a{
color:#0772ED;
text-decoration:none;
}
a:hover{
text-decoration:underline;
}
.wrp{
width:80%;
margin:0 auto;
}
.h5rf-footer{
padding:50px 0;
}
.h5rf-content{
background:#fff;
padding:30px 0;
}