.h1,h1{
font-size: 180%;
}
.h2,h2{
font-size: 160%;
}
.h3,h3{
font-size: 130%;
}
.h4,h4{
font-size: 120%;
}
.h5,h5{
font-size: 110%;
}
.h6,h6{
font-size: 100%;
text-transform: uppercase;
}
h1,h2,h3,h4,h5,h6,
.h1,.h2,.h3,.h4,.h5,.h6{
color:#565656;
}
h1,h2,h3{
margin: 5px 0;
}
pre{
font-family: 'Trebuchet MS', sans-serif;
background: #eee;
border-left: 10px solid #4F4F4F;
border-right: 1px solid #4F4F4F;
border-top: 1px solid #4F4F4F;
border-bottom: 1px solid #4F4F4F;
padding: 10px 10px 10px 15px;
white-space: pre;
overflow:auto;
margin:10px 0;
}
pre.soft{
white-space: normal;
}
p{
margin-bottom:5px;
}

/*Dropcaps*/
.dropcap:first-letter{
font-size: 350%;
font-weight: bolder;
float: left;
vertical-align: bottom;
padding: 4px 2px 0;
margin-right: 2px;
height: 30px;
min-width: 30px;
text-align: center;
font-family: Georgia;
color:#4F4F4F;
}