.clr {
clear: both;
margin:0px;
padding:0px;
overflow:hidden;
height:0;
}
.f-left{
float:left;
}
.f-right{
float:right;
}
.ta-left{
text-align:left;
}
.ta-right{
text-align:right;
}
.ta-center{
text-align:center;
}
.small{
font-size: 90%;
color: #666666;
}
.hdn{
display:none;
}
.d-blc{
display:block;
}
.d-inl{
display:inline;
}
.d-inlblc{
display:inline-block
}
.table{
display:table;
}
.cell{
display:table-cell;
}